body {
    background-color: #160045;
   
}

.section2{
    float: left; 
}

.loja{
    color: #f5dadf;
    font-size: 2rem; 
    font-family: 'Candara';
    padding-bottom: 3%;
}

.feminino{
    color: #f5dadf;
    font-size: 1rem;
    font-family: 'Candara';
    margin: 3%; /*espaço de paragrafo*/
    padding-bottom: 3%; /*espaçamento entre linhas*/
}

.masculino{
    color: #f5dadf;
    font-size: 1rem;
    font-family: 'Candara';
    margin: 3%;
    padding-bottom: 3%;
}

.calcados{
    color: #f5dadf;
    font-size: 1rem;
    font-family: 'Candara';
    margin: 3%;
    padding-bottom: 3%;
}

.acessorios{
    color: #f5dadf;
    font-size: 1rem;
    font-family: 'Candara';
    margin: 3%;
    padding-bottom: 3%;
}

.perfil{
    color: #f5dadf;
    font-size: 2rem; 
    font-family: 'Candara';
    padding-bottom: 3%; 
    

}

.pagamento{
    color: #f5dadf;
    font-size: 1rem;
    font-family: 'Candara';
    margin: 3%; 
    padding-bottom: 3%; 
    
    
}

.pedido{
    color: #f5dadf;
    font-size: 1rem;
    font-family: 'Candara';
    margin: 3%;
    padding-bottom: 3%;
    
    
}

.rastreamento{
    color: #f5dadf;
    font-size: 1rem;
    font-family: 'Candara';
    margin: 3%;
    padding-bottom: 3%;
    
    
}

.reembolso{
    color: #f5dadf;
    font-size: 1rem;
    font-family: 'Candara';
    margin: 3%;

}

#valicard{
    color: #160045 ;
    font-family: 'Arial';
    text-align: center;
    padding-top: 0.5cm; /*espaçamento de cima*/
    float: right;
    width: 85%; /*largura de campo*/
    height: 770px; /*altura de campo*/
    border-radius: 10px; /*arredondar a borda*/
    background-color: rgb(243, 236, 243);

}

.origin{
    text-align: center;
    display: block;/*"substitui" float nao pode ser alterado align*/
    width: 300px;
    position: relative; /* relative para nao sobrepor os inputs*/
    top: 150px; /*modo de posicionar em px*/
    left: 180px;
    margin-top: 50px;/*margem para espaçamento*/
    
}

#botao{
    text-align: center;
    display: block;
    width: 120px;
    height: 30px;
    position: relative; 
    border-radius: 17px;
    background-color: #160045;
    color: #f5dadf;
    top: 150px; 
    left: 270px;
    margin-top: 50px;
    
}

#cartao{
    float: right;
    position: relative;
    padding-right: 6cm;
    bottom: 170px ;
}

#nome2{
    float: right;
    border: none;
    position: absolute;
    right: 500px;
    bottom: 100px;
    

}

#cartaobox{
    float: right;
    position: absolute;
    border: #160045;
    color: #f5dadf;
    background-color: #160045;
    border-radius: 10px;
    right: 300px;
    top: 350px;
    width: 500px;
    height: 300px;
}

#chip{
    position: absolute;
    border: 1px;
    right: 380px;
    top: 70px;
    border-radius: 20px ;
}

.clone1{
    float: right;
    background-color: transparent;
    color: #f5dadf;
    font-family: 'Helvetica';
    font-size: 45%;
    letter-spacing: 2px;
    border-color: white;
}

#clonenome{
    position: absolute;
    top: 80%;
    right: 30%;
    width: 300px;

}

#clonecc{
    position: absolute;
    top: 55%;
    right: 10%;
    width: 400px;
    font-size: 60%;
}

#clonemes{
    position: absolute;
    top: 80%;
    right: 10%;
    width: 100px;
}




